
<div class="container1">
    <img src="../../assets/idlogo.png"  alt="...">
<h1>Authorization Login for Staff and Admin</h1>

<hr>
<form>
  <div class="form-group">
    <label for="exampleUserID">UserID</label>
    <input type="email" class="form-control" id="exampleUserID" aria-describedby="UserId" placeholder="Enter UserID">
    <small id="emailHelp" class="form-text text-muted">Never share your UserId with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>